*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
      background-color: #000; 
    /*background-image: url('/back4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;*/
}

form {
    background-color: #000000aa !important;
    width: 40%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-device-width:1040px),
screen and (max-width:640px) {
    form {
        Width: 85%;
    }
}

input,
textarea {
    background-color: #00000011 !important;
    color: white !important;
    font-size: larger !important;
}

.form-control:focus {
    background-color: #0000ff22 !important;
    transition: 0.5s;
}

.canvas1{
    height:100vh!important;
    width: 100vw!important;
    top:0;
    left:0;
    opacity: 1;
    position:fixed!important;
    z-index:1!important;
}